@media screen and (max-width: 640px) {

  body{
    background-repeat :repeat;
    width: auto;
  }

  article{
    width:90%;
    height: 85em;
    margin-left: auto;
    margin-right: auto;
  }

  .wrapper{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(2,2em auto) 1em;
  }

  .presentation{
    background-color: #454545D9;
    grid-column-start: 1;
    grid-column-end : 3 ;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .presentation p{
    margin-left: 1em;
    margin-right: 1em;
  }

  .presentation img{
    height: 10em;
  }

  .wrapper_2 img{
    margin-bottom: 1em;
  }

  .wrapper_2{
    grid-column-start: 1;
    grid-column-end : 3 ;
    grid-row: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #FFFFFFD9;
    padding-top: 1em;
    padding-bottom: 1em;
  }


}
