body{
  background-color: #FFFFFF;
  background-image: url("images/fond_min.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
}

a{
  color: white;
}

a:hover{
  color:#F68C02;
}

strong{
  font-style: italic;
  color: #F68C02;
}

.Haut2Page h1{
  text-align: center;
}

.Haut2Page
{
  border : solid #F68C02 2px;
  background-image: url("images/26105.jpg");
  background-size: cover;
}

article{
  width:80%;
  margin-left: auto;
  margin-right: auto;
}

#titre{
  text-align: center;
  background-color: #FFFFFFD9;
  padding-bottom: 0.1em;
}

#titre h1{
  padding-top: 0.5em;
}

h2{
  text-align: center;
  font-size: 1.3em;
  color: #F68C02;
}

.wrapper_1{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(2,2em auto) 1em;
}

.presentation{
  background-color: #454545D9;
  grid-column-start: 1;
  grid-column-end : 3 ;
  grid-row: 2;
  display: grid;
  grid-template-columns: 1em 22% 2em 40% 2em 30% 1em;
  grid-template-rows: 1em auto 1em;
}

  #presentation_tt{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-bottom: auto;
    margin-top: auto;
  }

  #photo{
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-left: auto;
    margin-right: auto;
  }

  #photo img{
    border: 2mm ridge #A1a1a1;

  }

  .presentation_tx{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-bottom: auto;
    margin-top: auto;
  }

    .presentation_tx p{
      font-size: 1em;
      text-align: justify;
      color: white;
    }

  #film{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
  }

  .wrapper_2{
    grid-column-start: 1;
    grid-column-end : 3 ;
    grid-row: 4;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #FFFFFFD9;
    padding-top: 1em;
    padding-bottom: 1em;

  }

  .film_1 img:hover{
    filter: brightness(50%);
  }

  .film_2 img:hover{
    filter: brightness(50%);
  }

  .film_3 img:hover{
    filter: brightness(50%);
  }
